h1
    font-size: 2.5rem

h2
    font-size: 1.4rem

h3
    font-size: 0.85rem

h1,
h2,
h3,
h4,
h5,
h6
    font-family: Georgia, serif

    line-height: 1.2

    margin: 0

p
    margin: .6rem 0 .75rem

p,
a
    font-size: 1.1rem
    line-height: 1.4

    &.-small
        font-size: .75rem

    &.-medium
        font-size: .85rem

a
    @extend %color-black
    text-decoration: none

    @extend %display-inline-block

    &:hover
        @extend %color-pomegranate
        text-decoration: underline

q
    font-size: 2.5rem
    line-height: .9
    font-style: italic
    text-transform: uppercase

    margin: 1.75rem 0 0
