$debug-modern-map: false;
$debug-list-has-value: false;
$debug-decompile-map: true;

$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;

$placeholders: ();


$properties: () !global;

$orphans: () !global;
