.video__header
    @extend %background-color-black

    @extend %display-flex

    margin: 0

    height: $video-header-height
    width: 100%

    padding: 0 .5rem

.video__icon
    margin: auto 0.5rem auto auto

    height: 2rem
    width: 2rem

[class*="video__title"]
    @extend %color-white

    @extend %flex-1

.video__title-header
    margin: 0.5rem auto auto

.video__header-link
    @extend %color-white

    margin: (((15 - 2)/15) + rem) auto auto

.video__title-header,
.video__header-link
    text-transform: uppercase
