// Global Var
$list: ''

// Dimentions
$global-padding: 13px

// Hero
$hero-items: 7

// Media Queries
$pc-width: 1025px

$tablet-width: 600px

$phone-width: 400px


$phone-width-max: $phone-width

$tablet-sm-width-min: $phone-width + 1
$tablet-sm-width-max: $tablet-width

$tablet-lg-width-min: $tablet-width + 1
$tablet-lg-width-max: $pc-width - 1

$pc-width-min: $pc-width
