=declare-font-face($font-family, $font-filename, $font-weight: normal, $font-style: normal, $font-stretch: normal)
    @font-face
        font-family: #{$font-family}
        src: url(font-path("#{$font-filename}.eot"))
        src: url(font-path("#{$font-filename}.eot?#iefix")) format("embedded-opentype"), url(font-path("#{$font-filename}.woff")) format("woff"), url(font-path("#{$font-filename}.ttf")) format("truetype"), url(font-path("#{$font-filename}.svg##{$font-filename}")) format("svg")
        font-weight: $font-weight
        font-style: $font-style
        font-stretch: $font-stretch

=input-color($color)
    &::-webkit-input-placeholder
        color: $color

    &:-moz-placeholder
        color: $color

    &::-moz-placeholder
        color: $color

    &:-ms-input-placeholder
        color: $color

=position($top: 0, $right: 0, $bottom: 0, $left: 0)
    @if $top != initial
        top: $top

    @if $right != initial
        right: $right

    @if $bottom != initial
        bottom: $bottom

    @if $left != initial
        left: $left

=colored-filter()
    $background: random($hero-items)

    &::before
        @if $background == 1
            background: linear-gradient(135deg,#d38312,#a83279)

        @else if $background == 2
            background: linear-gradient(135deg,#292484,#dc4225)

        @else if $background == 3
            background: linear-gradient(135deg,#002f4b,#417711)

        @else if $background == 4
            background: linear-gradient(135deg,#d38312,#002f4b)

        @else if $background == 5
            background: linear-gradient(135deg,#417711,#dc4225)

        @else if $background == 6
            background: linear-gradient(135deg,#292484,#a83279)

        @else if $background == 7
            background: linear-gradient(135deg,#e0be00,#dc4225)

=hero-item-mixin($start-x, $start-y, $finish-x, $finish-y, $total-x: 3, $total-y: 3, $new: true)

    %left-33
        left: ((100% / 3) * 1)

    @if $total-x > 3
        $right: calc(100% - ((200% / #{$total-x}) * #{$finish-x}))
        $left: calc((200% / #{$total-x}) * #{$start-x})

    @else
        $right: (100% - ((100% / $total-x) * $finish-x))
        $left: ((100% / $total-x) * $start-x)

    $top: (100% - ((100% / $total-y) * $finish-y))
    $bottom: ((100% / $total-y) * $start-y)

    @if $top == 0%
        @if feature-exists(top-0)
            @extend %top-0
        @else
            top: 0

    @else
        top: $top
