%content
    content: ""

%clearfix
    &::before,&::after
        @extend %content
        display: table
    &::after
        clear: both

%overflow-auto
    overflow: auto

%overflow-hidden
    overflow: hidden

%overflow-visible
    overflow: visible

%vertical-align-baseline
    vertical-align: baseline

%display-block
    display: block

%display-inline-block
    display: inline-block

%display-flex
    display: flex

%display-none
    display: none

%cursor-default
    cursor: default

%cursor-pointer
    cursor: pointer

%appearance-button
    -webkit-appearance: button

%flex-1
    flex: 1

%flexflow-column-nowrap
    flex-flow: column, nowrap

%flexflow-column-wrap
    flex-flow: column, wrap

%flexflow-row-nowrap
    flex-flow: row, nowrap

%flexflow-row-wrap
    flex-flow: row, wrap

%position-absolute
    position: absolute

%position-relative
    position: relative

%position-fixed
    position: fixed

%position
    top: 0
    right: 0
    bottom: 0
    left: 0

%margin-0
    margin: 0

%image-box-shadow
    box-shadow: inset 0 0 50px rgba($black, 0.5)

%outline-0
    outline: 0

%border-0
    border: 0

%height-auto
    height: auto

%height-0
    height: 0

%padding-0
    padding: 0

%transition-100ms
    transition: all ease 0.1s
