// Color
$white: #fff
$black: #000
$grey: #919191

$alto: #ddd
$tundora: #444

$silver: #cacaca
$swiss-coffee: #d2cecd
$mercury: #e3e3e3
$alabaster: #fcfcfc
$gallery: #f0f0f0
$mine-shaft: #2c2c2c
$dove-gray: #737373

$dawn-pink: #f7f1ee
$pomegranate: #fa4b2a
$scarlet: #e22805

// Global Var
$list: ''

// Dimentions
$container-margin: 0
$global-padding: 15px

// Hero
$hero-items: 7

// Cards
$card-container--one-height: 1145px

$card-height: 420px
$quote-height: 205px
$card-quote-height: $card-height + $quote-height
$photo-height: 200px
$card-no-photo: $card-height - $photo-height

// Media Queries
$pc-width: 1025px

$tablet-width: 600px

$phone-width: 400px


$phone-width-max: $phone-width

$tablet-sm-width-min: $phone-width + 1
$tablet-sm-width-max: $tablet-width

$tablet-lg-width-min: $tablet-width + 1
$tablet-lg-width-max: $pc-width - 1

$pc-width-min: $pc-width
