.test {
  margin: auto;
}

.test {
  margin: 0;
}

.test {
  margin: 100%;
}

.test {
  margin: auto, 0, 100%;
}

.test {
  margin: 10px, 20px, 30px;
}

[class*="card--"] > * {
  z-index: 10;
}

[class*="card--"]::after {
  z-index: 5;
}

[class^="hero__item"]::before, [class*="card--"]::before, [class*="card--"]::after {
  content: "";
}

pre {
  overflow: auto;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  overflow: visible;
}

audio, canvas, progress, video, sub,
sup {
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, .article__img {
  display: block;
}

audio, canvas, img, progress, video, a, .article__label {
  display: inline-block;
}

.video, .video__header, .video__featured-link, .card {
  display: flex;
}

audio:not([controls]), [hidden], [template] {
  display: none;
}

button [disabled], html input[disabled] {
  cursor: default;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}

[class*="video__title"] {
  flex: 1;
}

.video__featured-videos {
  flex: 1 1 33.33333%;
}

.video__player {
  flex: 1 1 66.66667%;
}

.card {
  flex-flow: column, wrap;
}

.video__featured-link {
  flex-flow: row, nowrap;
}

.video {
  flex-flow: row, wrap;
}

[class^="hero__item"], [class^="hero__item"]::before, .video__title-player, [class*="card--"]::before, [class*="card--"]::after {
  position: absolute;
}

sub,
sup, .hero, .video__player, [class*="card--"], .article__title, .article__author {
  position: relative;
}

[class^="hero__item"]::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button, input, optgroup, select {
  margin: 0;
}

.main, .container {
  margin: 0 auto;
}

[class^="hero__item"], .video__featured-thumbnail, .article__img {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

button, a:active, a:hover {
  outline: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

audio:not([controls]), hr {
  height: 0;
}

nav, .video__header {
  height: 45px;
}

.video__player, .video__featured-videos {
  height: 415px;
}

.video__featured-thumbnail {
  height: 100%;
}

.main {
  width: 1023px;
}

.container, nav, .video__header, .video__title-player {
  width: 100%;
}

button::-moz-focus-inner, input::-moz-focus-inner, input[type="checkbox"], input[type="radio"], legend, td,
th {
  padding: 0;
}

.article {
  padding: 1.5rem;
}

a {
  background-color: transparent;
}

nav, .video__header {
  background-color: #000;
}

.article__label__link {
  background-color: #fa4b2a;
}

[class^="hero__item"], .video__player, .video__featured-thumbnail, .article__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.-text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

optgroup, b,
strong {
  font-weight: bold;
}

button, input, optgroup, select {
  font: inherit;
}

.-din {
  font-family: ff-din-web-condensed, sans-serif;
  font-weight: normal;
}

.-small {
  font-size: 0.75rem;
}

.-medium {
  font-size: 0.85rem;
}

button, input, optgroup, select {
  color: inherit;
}

[class^="hero__item"], [class^="hero__item"]:hover, [class*="video__title"], .video__header-link, .article__label__link, .article__label__link:hover {
  color: #fff;
}

a, mark {
  color: #000;
}

.-color-silver {
  color: #bbb;
}

.-color-pomegranate, a:hover, .video__featured-video:hover .video__title-featured {
  color: #fa4b2a;
}

button, select {
  text-transform: none;
}

.video__title-player {
  text-transform: capitalize;
}

q, .video__title-header, .video__header-link, .article__labels {
  text-transform: uppercase;
}

a, [class^="hero__item"], [class^="hero__item"]:hover, .video__featured-link:hover, .article__label__link:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

fieldset {
  border: 1px solid #bbb;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
}

img {
  vertical-align: middle;
  border: none;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

input {
  line-height: normal;
}
input [type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input [type="search"]::-webkit-search-cancel-button, input [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

h1 {
  font-size: 3.25rem;
}

h2,
q {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 0.85rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Adelle, Georgia, serif;
  line-height: 1.2;
  margin: 0;
}

p {
  margin: 0.6rem 0 0.75rem;
}

p,
a {
  font-size: 1.1rem;
  line-height: 1.4;
}

q {
  font-family: ff-din-web-condensed, sans-serif;
  line-height: 0.9;
  font-style: italic;
  margin: 1.75rem 0 0;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25rem;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
ul a,
li a {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  -webkit-font-smoothing: antialiased;
}

#article .main {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

nav {
  margin-top: 45px;
}

.hero {
  height: 525px;
}

[class^="hero__item"] {
  padding: 1.25rem 1.5rem;
}
[class^="hero__item"]::before {
  opacity: 0.7;
}
[class^="hero__item"]:hover::before {
  opacity: 0.9;
}

.hero__item--1 {
  background-image: url("http://ballmeripsum.com/i/?x=341&y=350");
  top: 0;
}
.hero__item--1::before {
  background: linear-gradient(135deg, #292484, #a83279);
}

.hero__item--2 {
  background-image: url("http://ballmeripsum.com/i/?x=341&y=290");
  top: 66.66667%;
}
.hero__item--2::before {
  background: linear-gradient(135deg, #292484, #a83279);
}

.hero__item--3 {
  background-image: url("http://ballmeripsum.com/i/?x=341&y=175");
  top: 0;
}
.hero__item--3::before {
  background: linear-gradient(135deg, #417711, #dc4225);
}

.hero__item--4 {
  background-image: url("http://ballmeripsum.com/i/?x=341&y=250");
  top: 33.33333%;
}
.hero__item--4::before {
  background: linear-gradient(135deg, #292484, #a83279);
}

.hero__item--5 {
  background-image: url("http://ballmeripsum.com/i/?x=400&y=300");
  top: 66.66667%;
}
.hero__item--5::before {
  background: linear-gradient(135deg, #002f4b, #417711);
}

.hero__item--6 {
  background-image: url("http://ballmeripsum.com/i/?x=341&y=176");
  top: 0;
}
.hero__item--6::before {
  background: linear-gradient(135deg, #292484, #a83279);
}

.hero__item--7 {
  background-image: url("http://ballmeripsum.com/i/?x=500&y=400");
  top: 33.33333%;
}
.hero__item--7::before {
  background: linear-gradient(135deg, #d38312, #a83279);
}

.video {
  height: 460px;
}

.video__header {
  padding: 0 0.5rem;
}

.video__icon {
  margin: auto 0.5rem auto auto;
  height: 2rem;
  width: 2rem;
}

.video__title-header {
  margin: 0.5rem auto auto;
}

.video__header-link {
  margin: 0.86667rem auto auto;
}

.video__player::before {
  background: linear-gradient(135deg, #d38312, #a83279);
}

.video__title-player {
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}

.video__featured-video {
  background-color: #222;
  height: 83px;
}
.video__featured-video:hover {
  background-color: #3c3c3c;
}

.video__title-featured {
  margin: auto 1rem;
}

.video__featured-thumbnail {
  width: 125px;
}

[class*="card--"] {
  flex: 1;
  margin: 7.5px;
  min-height: 405px;
  width: calc((100% / 3) - 15px);
  padding: 7.5px;
}
[class*="card--"]::before {
  border: 1px solid #ddd;
}
[class*="card--"]::after {
  border-style: solid;
  border-width: 5px;
  border-image: url(http://i.imgur.com/uuCvvnH.png) 5;
}
[class*="card--"]::before, [class*="card--"]::after {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}
[class*="card--"] > * {
  position: relative;
}

[class*="card--"].-quote {
  min-height: 610px;
}

.card {
  padding: 0 0 0 0.5px;
}

.card.-one {
  height: 1145px;
}

.article__labels {
  font-family: ff-din-web-condensed, sans-serif;
  line-height: 1;
  margin: -0.95rem 0 0;
}

.article__label__link {
  padding: 4px 5px 1px;
}

.article__title {
  margin: 0.5rem 0 0;
}

.article__author {
  margin: 0.25rem 0 0;
}

.article__img {
  height: 200px;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .hero {
    margin: 0;
    width: 100vw;
  }

  .hero__item--1 {
    top: 0;
  }
  .hero__item--3 {
    top: 0;
  }
  .hero__item--6 {
    top: 33.33333%;
  }
  .hero__item--2 {
    top: 0;
  }
  .hero__item--4 {
    top: 0;
  }
  .hero__item--5 {
    top: 0;
  }
  .hero__item--7 {
    top: 0;
  }
  .hero__title {
    font-size: 1.4rem;
  }

  .hero__scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    top: 66.66667%;
  }
  .video-container {
    margin: 0;
    width: 100vw;
  }

  [class*="card--"] {
    width: calc((100% / 2) - 15px);
  }

  .card-container.-one {
    margin: 0;
    height: 1600px;
  }
}
@media (max-width: 600px) {
  .hero__item--1 {
    top: 0;
  }
  .hero__item--3 {
    top: 25%;
  }
  .hero__item--6 {
    top: 50%;
  }
  .hero__item--2 {
    top: 0;
  }
  .hero__item--4 {
    top: 0;
  }
  .hero__item--5 {
    top: 0;
  }
  .hero__item--7 {
    top: 0;
  }
  .hero__scroll {
    top: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
