[class^=hero__item], [class^=hero__item]::before {
  position: absolute;
}

.hero, .hero__title,
.hero__author {
  position: relative;
}

[class^=hero__item]::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  font-size: 15px;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.4rem;
}

h1,
h2 {
  font-family: Georgia, serif;
  line-height: 1.2;
  margin: 0;
}

p {
  font-size: 0.75rem;
  line-height: 1.4;
}

.hero {
  background: #666;
  margin: 40px auto 0;
  height: 525px;
  width: 1025px;
}

[class^=hero__item] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #fff;
  text-decoration: none;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  padding: 1.25rem 1.5rem;
}
[class^=hero__item]:hover::before {
  opacity: 0.9;
}
[class^=hero__item]::before {
  content: "";
  opacity: 0.7;
}

.hero__item--1 {
  background-image: url("http://ballmeripsum.com/i/?x=341&y=350");
  right: 66.66667%;
  left: 0%;
  top: 0%;
  bottom: 33.33333%;
}
.hero__item--1::before {
  background: linear-gradient(135deg, #e0be00, #dc4225);
}

.hero__item--2 {
  background-image: url("http://ballmeripsum.com/i/?x=341&y=290");
  right: 66.66667%;
  left: 0%;
  top: 66.66667%;
  bottom: 0%;
}
.hero__item--2::before {
  background: linear-gradient(135deg, #292484, #a83279);
}

.hero__item--3 {
  background-image: url("http://ballmeripsum.com/i/?x=341&y=175");
  right: 33.33333%;
  left: 33.33333%;
  top: 0%;
  bottom: 66.66667%;
}
.hero__item--3::before {
  background: linear-gradient(135deg, #002f4b, #417711);
}

.hero__item--4 {
  background-image: url("http://ballmeripsum.com/i/?x=341&y=250");
  right: 33.33333%;
  left: 33.33333%;
  top: 33.33333%;
  bottom: 33.33333%;
}
.hero__item--4::before {
  background: linear-gradient(135deg, #d38312, #002f4b);
}

.hero__item--5 {
  background-image: url("http://ballmeripsum.com/i/?x=400&y=300");
  right: 33.33333%;
  left: 33.33333%;
  top: 66.66667%;
  bottom: 0%;
}
.hero__item--5::before {
  background: linear-gradient(135deg, #417711, #dc4225);
}

.hero__item--6 {
  background-image: url("http://ballmeripsum.com/i/?x=341&y=176");
  right: 0%;
  left: 66.66667%;
  top: 0%;
  bottom: 66.66667%;
}
.hero__item--6::before {
  background: linear-gradient(135deg, #002f4b, #417711);
}

.hero__item--7 {
  background-image: url("http://ballmeripsum.com/i/?x=500&y=400");
  right: 0%;
  left: 66.66667%;
  top: 33.33333%;
  bottom: 0%;
}
.hero__item--7::before {
  background: linear-gradient(135deg, #002f4b, #417711);
}

.hero__title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero__author {
  margin: 0.25rem 0 0;
}

.video {
  background: #ddd;
  margin: 0 auto;
  height: 460px;
  width: 1025px;
}

@media (max-width: 1024px) {
  .hero {
    width: 100vw;
  }

  .hero__item--1 {
    right: 50%;
    left: 0%;
    top: 0%;
    bottom: 33.33333%;
  }
  .hero__item--1::before {
    background: linear-gradient(135deg, #292484, #a83279);
  }

  .hero__item--3 {
    right: 0%;
    left: 50%;
    top: 0%;
    bottom: 66.66667%;
  }
  .hero__item--3::before {
    background: linear-gradient(135deg, #417711, #dc4225);
  }

  .hero__item--6 {
    right: 0%;
    left: 50%;
    top: 33.33333%;
    bottom: 33.33333%;
  }
  .hero__item--6::before {
    background: linear-gradient(135deg, #e0be00, #dc4225);
  }

  .hero__item--2 {
    right: calc(100% - ((200% / 4) * 1));
    left: calc((200% / 4) * 0);
    top: 0%;
    bottom: 0%;
  }
  .hero__item--2::before {
    background: linear-gradient(135deg, #292484, #a83279);
  }

  .hero__item--4 {
    right: calc(100% - ((200% / 4) * 2));
    left: calc((200% / 4) * 1);
    top: 0%;
    bottom: 0%;
  }
  .hero__item--4::before {
    background: linear-gradient(135deg, #002f4b, #417711);
  }

  .hero__item--5 {
    right: calc(100% - ((200% / 4) * 3));
    left: calc((200% / 4) * 2);
    top: 0%;
    bottom: 0%;
  }
  .hero__item--5::before {
    background: linear-gradient(135deg, #d38312, #002f4b);
  }

  .hero__item--7 {
    right: calc(100% - ((200% / 4) * 4));
    left: calc((200% / 4) * 3);
    top: 0%;
    bottom: 0%;
  }
  .hero__item--7::before {
    background: linear-gradient(135deg, #e0be00, #dc4225);
  }

  .hero__title {
    font-size: 1.4rem;
  }

  .hero__scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    right: 0%;
    left: 0%;
    top: 66.66667%;
    bottom: 0%;
  }
  .hero__scroll::before {
    background: linear-gradient(135deg, #e0be00, #dc4225);
  }

  .video {
    width: 100vw;
  }
}
@media (max-width: 600px) {
  .hero__item--1 {
    right: 0%;
    left: 0%;
    top: 0%;
    bottom: 75%;
  }
  .hero__item--1::before {
    background: linear-gradient(135deg, #292484, #a83279);
  }

  .hero__item--3 {
    right: 0%;
    left: 0%;
    top: 25%;
    bottom: 50%;
  }
  .hero__item--3::before {
    background: linear-gradient(135deg, #002f4b, #417711);
  }

  .hero__item--6 {
    right: 0%;
    left: 0%;
    top: 50%;
    bottom: 25%;
  }
  .hero__item--6::before {
    background: linear-gradient(135deg, #292484, #a83279);
  }

  .hero__item--2 {
    right: calc(100% - ((200% / 5) * 1.75));
    left: calc((200% / 5) * 0);
    top: 0%;
    bottom: 0%;
  }
  .hero__item--2::before {
    background: linear-gradient(135deg, #292484, #a83279);
  }

  .hero__item--4 {
    right: calc(100% - ((200% / 5) * 3.5));
    left: calc((200% / 5) * 1.75);
    top: 0%;
    bottom: 0%;
  }
  .hero__item--4::before {
    background: linear-gradient(135deg, #d38312, #002f4b);
  }

  .hero__item--5 {
    right: calc(100% - ((200% / 5) * 5.25));
    left: calc((200% / 5) * 3.5);
    top: 0%;
    bottom: 0%;
  }
  .hero__item--5::before {
    background: linear-gradient(135deg, #002f4b, #417711);
  }

  .hero__item--7 {
    right: calc(100% - ((200% / 5) * 7));
    left: calc((200% / 5) * 5.25);
    top: 0%;
    bottom: 0%;
  }
  .hero__item--7::before {
    background: linear-gradient(135deg, #292484, #a83279);
  }

  .hero__scroll {
    right: 0%;
    left: 0%;
    top: 75%;
    bottom: 0%;
  }
  .hero__scroll::before {
    background: linear-gradient(135deg, #292484, #a83279);
  }
}

/*# sourceMappingURL=style-pro.css.map */
